@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
	background-color: hsl(233, 47%, 7%);
	overflow: hidden;
}
.card {
	background-color: hsl(244, 38%, 16%);
	margin: 250px;
	height: 25rem;
	width: 70%;
    color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	border-radius: 20px;
	
}
.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#purple {
    color: hsl(277, 64%, 61%);
}
.text {
	height: 10rem;
	width: 22rem;
	padding: 2.5rem;
}