@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body {
	background-color: hsl(233, 47%, 7%);
	
}
.card {
	background-color: hsl(244, 38%, 16%);
	margin-top: 250px;
	margin-bottom: 2rem;
	height: 30rem;
	width: 70%;
    color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	border-radius: 20px;
	
}
.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#purple {
    color: hsl(277, 64%, 61%);
}
.text, .paragraph {
	height: 10rem;
	width: 22rem;
	padding-top: 2.5rem;
	padding-left: 3rem;
	padding-bottom: 0px;
	margin-bottom: -25px;
	font-family: 'Lexend Deca', sans-serif;
	
}
.paragraph {
	padding-top: 0px;
	margin-top: 1rem;
	color: hsla(0, 0%, 100%, 0.75);
}
/*implementing the stats at bottom */
.stats {
	display: grid;
	grid-template-columns: repeat(3, 7rem);
	grid-template-rows: 7rem;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-left: 4rem;
	margin-bottom: 0.5rem;
}

.stats1 {
	grid-area: 1 / 1 / 2 / 2;
}

.stats1 p, .stats2 p {
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	margin: 0.1rem auto;
	font-size: 15px;
}

.stats1 h2, .stats2 h2 {
	margin: 0.1rem auto;
}
.stats2 {
	grid-area: 1 / 2 / 2 / 3;
	margin: 0.1rem auto;
}
.stats3 {

}